.logo {
  display: block;
  width: 300px;
  margin: 50px auto;
}
.infos {
	padding-top: 90px
}
#background {
		background-image: url("../images/background.jpg");

		width: 60%;
		height:	60%;
}

.kleidi{
		font-size: 100px;
		font-family: 'Archivo Black', sans-serif;


}

.dispo {
		font-size: 35px;
		font-family: 'Archivo Black', sans-serif;


}


.non{
font-family: 'Chivo', sans-serif;

}


.image1{
	padding: 50px;
	width: 70%;
	height: 70%;

}

.footer {

	color: grey;
	width: 100%;
	height: 100px;


}