.logo {
  display: block;
  width: 150px;
}
.infos {
	padding-top: 80px
}
.jumbotron {
	background-image: url("../images/background.jpg");
	background-size: cover;
	padding-top: 300px;
}

h1 {
	font-size: 100px;
	font-family: 'Archivo Black', sans-serif;
}

h2 {
	font-size: 35px;
	font-family: 'Archivo Black', sans-serif;
	max-width: 650px
}
h2 span {
	font-family: 'Chivo', sans-serif;
}
