<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        <%= current_page.data.title || "Kleidi" %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag "site" %>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Chivo:300,300i" rel="stylesheet">
        <%= javascript_include_tag "site" %>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light fixed-top">
        <a class="navbar-brand" href="/"><img alt="Logo de Kleidi" src="images/logo.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarsExample03">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="p-2 text-dark" href="index#about">Qui sommes-nous ?</a>
                </li>
                <li class="nav-item">
                    <a class="p-2 text-dark" href="index#map">Carte des œuvres</a>
                </li>
                <li class="nav-item">
                    <a class="p-2 text-dark" href="index#audiodesc">Nos audio-descriptifs</a>
                </li>
                
            </ul>
        </div>
    </nav>
    <%= yield %>

        </div>
        </div>
        <div class="content">
        </div>
        <footer id="myFooter">
            <div class="container">
                <div class="row test">

                    <div class="col-md-3 myCols col-md-offset-4 ">
                       <A HREF="mailto:kleidi@gmail.com"><h5>Contact</h5></A> 

                    </div>
                    <div class="col-md-4 myCols col-md-offset-4 text-center">
                        <h5>Conditions d'utilisation</h5>

                    </div>
                </div>
            </div>
            <div class="container">
            <div class="row">
              
                <div class="social-networks col-md-12">
                  <p> Partenaires</p>
                    <a href="https://www.u-bordeaux-montaigne.fr/fr/index.html" target="_blank">
                    <img alt="Logo de l'université Bordeaux Montaigne" class="bordeaux" src="../images/Logo-UBM.jpg">
                    </a>

                    <a href="http://www.bordeaux.fr/" target="_blank">
                
                <img alt=" Logo de la ville de Bordeaux" class="bordeaux" src="../images/villebordo.png">
                </a>
        <a href="http://www.musee-aquitaine-bordeaux.fr/" target="_blank">
            <img alt=" Logo du musée d'Aquitaine" class="bordeaux" src="../images/logo-musee-aquitaine.png">
            </a>
            
            <img alt="Logo Mediatices" class="bordeaux" src="../images/partenaire.jpg">
            <a href="https://www.mmibordeaux.com/" target="_blank">
            <img alt=" Logo D U T Métiers du Multimédia et de l'internet" class="bordeaux" src="../images/unnamed.jpg">
            </a>
          </div>
            </div>
            </div>
            <div class="footer-copyright">
                <p>© 2019 Kleidi</p>
            </div>

        </footer>

</body>

</html>