---
title: Kleidi 
---

<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1>Kleidi</h1>
		<h2>le dispositif qui rend accessible l'art visuel aux <span>non-voyants</span></h2>
		<img src="../images/braille.png" class="img-fluid">
	</div>
</div>

<div class="container">
	<div id="about" class="row">
		<div class="col-md-5 offset-md-2">
			<h3>Qui sommes-nous?</h3>
			
			<p>Créé récemment, Kleidi va prochainement exposer ses plaquettes destinées à améliorer la perception de l’art pour les personnes souffrant de handicap visuel.</p>

			<p>Dans le cadre d’un projet tutoré à utilité sociale, à l’Université Bordeaux Montaigne, un groupe d’étudiants met en place un dispositif qui s’inscrit dans le mouvement d’accessibilité technologique envers la culture.</p>

			<p>Après quelques prototypes de plaquettes, Kleidi va bientôt exposer toute une série de celles-ci au Musée d’Aquitaine, à Bordeaux. Cette initiative a été prise car il existe de réelles carences autour de l’accès à l’art et à la culture pour les personnes en situation de handicap visuel. Dans une philosophie qui a pour ligne conductrice : “l’art au bout des doigts”.</p>

			<p>Une collaboration étroite avec le Musée d’Aquitaine permet de recréer des oeuvres en relief adaptées au toucher. Elles sont accompagnées d’un QR code qui redirige vers une audio-description relatant des notes de l’artiste à propos de sa création ainsi que d’une  description en braille de ses principales caractéristiques. </p>
		</div>
		<div class="col-md-3 infos text-muted">
			<h3>Infos pratiques</h3>
			<ul class="list-unstyled">
				<li><a href="">@projet_kleidi</a></li>
				<li><a href="">@kleidi.org</a></li>
				<li><a href="">kleidi@gmail.com</a></li>
			</ul>
		</div>
	<div>
</div>