---
title: Kleidi 
---

<div class="jumbotron jumbotron-fluid">
	<div class="kleidi container ">
		<h1>Kleidi</h1>
		<h2>le dispositif qui rend accessible l'art visuel aux <span>non-voyants</span></h2>
		<img src="../images/braille.png" class="img-fluid">
	</div>
</div>

<div class="container">
	<div id="about" class="row">
		<div class="col-md-5 offset-md-2 col-xs-2">
			<h3>Qui sommes-nous?</h3>
			
			<p>Répondre à une problématique d’utilité sociale et s’inscrire dans une démarche de citoyenneté active : telles sont les ambitions que s’est fixé le projet Kleidi. L’art visuel vient de trouver un dispositif innovant qui permet aux malvoyants et non-voyants de toucher du bout des doigts des œuvres artistiques contemporaines. </p>

			<p>L’idée se matérialise par une maquette extrudée, apposée à côté des créations et qui regroupe quatre éléments : un modèle 2D de l’œuvre, un texte en braille, un texte pour les voyants et enfin un QR code qui dirige vers une audiodescription détaillée.</p>

			<p>Ainsi l’œuvre artistique n’est plus simplement donnée à voir. Bien au contraire, cette expérience immersive plonge dans l’intimité de l’artiste. Des confidences de l’auteur sur les techniques employées, aux formes et au relief de son travail, l’art visuel se donne dorénavant à toucher et à écouter.</p>

			<p>Si le numérique a un immense pouvoir de transformation, il s’agit d’initier ici à l’université un nouveau mouvement d’accessibilité technologique en direction des arts et de la culture. Le projet trouve toute son ampleur grâce au partenariat privilégié avec le musée d’Aquitaine.</p>
			<p>Cette initiative est portée dans le cadre d’un workshop dédié aux projets sociaux innovants, au sein du département MMI (Métiers du Multimédias et de l’Internet). Toutes les compétences des étudiants (développeurs, graphistes, photographes, programmeurs, game designers, chargés de projet, community managers, rédacteurs numériques etc.) sont mobilisées et mises à contribution.</p>
		</div>
		<div class="col-md-1 infos text-muted">
			<h3>Infos pratiques</h3>
			<ul class="list-unstyled">
				<li><a target="_blank" href="https://www.instagram.com/projet_kleidi/?hl=fr">Instagram</a></li>
				<li><a target="_blank" href="https://www.facebook.com/kleidi.org/">Facebook</a></li>

			</ul>
		</div>

	<div>
</div>

</div>

</div>
<div class="container">
	<div id="map" class="row">

	<iframe width="100%" height="500px" frameBorder="0" allowfullscreen src="https://umap.openstreetmap.fr/fr/map/kleidi-oeuvres_303115?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false&datalayers=797646#15/44.8308/-0.5670"></iframe><p><a href="https://umap.openstreetmap.fr/fr/map/kleidi-oeuvres_303115">Voir en plein écran</a></p>
</div>
</div>

<div id="audiodesc"class="test1 container center-block">
	<div class="row justify-content-center">

		<div class="  col-md-4 col-md-offset-6 center-block" > 
		<a href="selor-mimil">	<img class="carou" src="images/selor.jpg">
			</a>

		</div>
		<div class="  col-md-4 center-block" > 
			<img class="carou" src="images/Noir.png">


		</div>
		<div class="  col-md-4 center-block" > 
			<img class="carou" src="images/Noir.png">


		</div>

			</div>
		</div>
				